.transform-tree {
  .clear-btn-m {
    margin: 20px 0 0 !important;
  }
  .max-height {
    height: 450px;
    overflow: auto;
  }
  .el-card__header {
    padding: 12px !important;
    background: #f8fbff;
    opacity: 1;
    border-radius: 4px 4px 0px 0px;
  }
  .el-form-item--medium .el-form-item__content {
    line-height: 24px !important;
  }
}
